html {
    position: relative;
}

body {
    margin-bottom: 120px;
    margin-top: 30px;
}

.jumbotron {
    height: 400px;
    background-image: url(../img/Header.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -100px;
    color: rgb(39, 37, 37);
    overflow: hidden;
}

.jumbotron img {
    width: 200px;
    border: 5px solid rgb(207, 201, 201);
    box-shadow: 1px 6px 9px rgba(0, 0, 0, 0.8);
}

.jumbotron h1,
.jumbotron p {
    text-shadow: 1px 1px 10px rgba(197, 196, 196, 0.9);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

hr {
    width: 250px;
    border-top: 4px solid rgb(119, 119, 119);
}

section {
    min-height: 600px;
}

.pKiri,
.pKanan {
    opacity: 0;
    transform: translate(-50px, 0) rotate(15deg);
    transition: 1s;
}

.pKanan {
    transform: translate(50px, 0) rotate(15deg);
}

.pKiri.pMuncul,
.pKanan.pMuncul {
    opacity: 1;
    transform: translate(0, 0);
}

.portfolio {
    background-color: #eee;
}

.portfolio .thumbnail {
    transform: translate(0, -80px);
    opacity: 0;
    transition: .5s;
}

.portfolio .thumbnail.muncul {
    opacity: 1;
    transform: translate(0, 0);
}

.contact {
    min-height: 800px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    background-color: rgb(107, 107, 107);
    padding-top: 30px;
}

footer p {
    color: #aaa;
    font-size: 0.9em;

}

footer p i {
    color: salmon;
}