* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.flex-container-column {
    display: flex;
    /* properti lainnya */
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    text-align: right;
}

.flex-container-row {
    display: flex;
}

.button {
    flex-basis: 25%;
    /*properti lainnya */
    font-size: 1.5em;
    text-align: center;
    padding: 40px;
    margin: 2px;
    border: 1px solid lightcoral;
    background: -webkit-linear-gradient(top, #d2d2d2 #ddd);
    cursor: pointer;
    -webkit-transition: 1s;
    transition: 1s;

}

.button:hover {
    background-color: lightcyan;
    font-weight: bold;
}

.double {
    flex-basis: 50%;
}

.display {
    color: white;
    width: 100%;
    height: 70%;
    margin-top: 5px;
    padding: 10px 10px;
    background-color: #333;
    border: 2px groove lightcoral;
    font-size: 2em;
}

.operator,
.negative,
.equals {
    background: lightsalmon;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(36, 22, 22, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 10px;
}


.history {
    width: 100%;
    overflow: scroll;
    margin: 30px 10px;
    padding: 10px 10px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    padding: 30px 10px;
    margin: 0 auto 10px 0;
    border: 1px solid #ddd;
    font-family: 'Times New Roman', Times, serif;
}

th,
td {
    text-align: center;
    padding: 16px;
}

th {
    background-color: lightsalmon;
    color: white;
}




tr:nth-child(even) {
    background-color: lightpink;
}

#riwayat {
    font-size: 1.5em;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}

@media screen and (max-width: 513px) {
    .button {
        padding: 20px;
        margin: 4px;
    }

    .card {
        padding: 5px 5px;
        margin: 10px;
    }

    .history {
        width: 90%;
        overflow: hidden;
    }

    .table {
        width: 50%;
    }
}